body {
  background: rgb(245, 217, 213);
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: rgb(234, 28, 44);
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: rgb(244, 152, 184);
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: rgb(234, 28, 44);
}

#mainNavbar .navbar-brand {
  color: rgb(234, 28, 44);
  font-size: 1.5rem;
}

#headingGroup span {
  color: rgb(234, 28, 44);
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: rgb(222, 192, 222);
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
  .blurb h2 {
    font-size: 2rem;
  }
}
