body {
  background: black;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  font-family: "Nunito", sans-serif;
}
.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("imgs/background2.jpg");
  min-height: 35em;
  text-align: center;
}
.btn-outline {
  background-color: transparent;
  color: inherit;
  border-radius: 0;
  border-width: 3px;
  border-color: white;
  font-family: "Fredoka One", cursive;
  display: absolute;
  margin-top: 3px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn-outline:hover {
  margin-top: 0px;
  -moz-box-shadow: 0px 0px 4px 1px grey;
  -webkit-box-shadow: 0px 0px 4px 1px grey;
  box-shadow: 0px 0px 4px 1px grey;
}

.banner .carousel-inner {
  width: 100%;
  max-height: 600px !important;
}
.banner .first,
.banner .second {
  color: white;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 20%;
}
.banner .third,
.banner .fourth {
  color: white;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 24%;
}
.banner .carousel-caption h3 {
  font-size: 5em;
  font-family: "Sacramento", cursive;
}
.banner .carousel-caption p {
  font-size: 1em;
  font-family: "Fredoka One", cursive;
}
.banner .carousel-item img {
  opacity: 0.5;
  width: 100%;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

.blurb h2 {
  color: rgb(234, 28, 44);
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: rgb(244, 152, 184);
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 50px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: rgb(234, 28, 44);
}

#mainNavbar .img-fluid {
  max-width: 100%;
  height: 110px;
  position: absolute;
  top: 0;
  left: 29em;
}

#footer-image {
  max-width: 100%;
  height: 140px;
  top: 0;
  object-fit: cover;
}

#footer-div {
  left: 10em;
}

#headingGroup span {
  color: rgb(234, 28, 44);
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: black;
  transition: background 300ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
  .blurb h2 {
    font-size: 2rem;
  }
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons,
  .site-footer .footer-links {
    text-align: center;
  }

  #footer-div {
    left: 6.5em;
  }

  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }

  .banner .carousel-inner {
    width: 100%;
    max-height: 100% !important;
  }
  .banner .first,
  .banner .second {
    color: white;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
  }
  .banner .third,
  .banner .fourth {
    color: white;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
  }
  .banner .carousel-caption h3 {
    font-size: 3em;
    font-family: "Sacramento", cursive;
  }
  .banner .carousel-caption p {
    font-size: 1em;
    font-family: "Fredoka One", cursive;
  }
  .banner .carousel-item img {
    opacity: 0.5;
    width: 100%;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

.text-justify {
  color: #ea4c89;
}

.testimonials {
  background-color: transparent;
  color: white;
  max-height: 200em;
  margin-top: 20px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  font-family: "Fredoka One", cursive;
}

.testimonials .carousel-indicators li {
  background-color: white;
}

.testimonials .carousel-indicators .active {
  background-color: pink;
}
.testimonials .rating {
  color: gold;
}

.testimonials .carousel-inner {
  width: 100%;
  /* background-color: #007bb6; */
  padding-bottom: 30px;
  color: white;
}

.testimonials .carousel {
  padding-top: 30px;
  padding-bottom: 20px;
}

.testimonials .col-md-4 {
  padding-top: 30px;
  padding-bottom: 20px;
  border-right: 1px solid rgb(225, 241, 255);
}

.testimonials .font-weight-normal {
  padding-left: 70px;
  padding-right: 70px;
}
.testimonials .h2-responsive {
  margin-top: 20px;
  font-family: "Fredoka One", cursive;
}

.separator {
  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator::before,
.separator::after {
  content: "";
  display: block;
  height: 0.04em;
  min-width: 30vw;
}

.separator::before {
  background: linear-gradient(to right, rgba(240, 240, 240, 0), #fff);
  margin-right: 4vh;
}

.separator::after {
  background: linear-gradient(to left, rgba(240, 240, 240, 0), #fff);
  margin-left: 4vh;
}

.testimonials .carousel-item img {
  border-radius: 50%;
  width: 30%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
